<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>

        <element type="number">
            <name>paulVoteDate</name>
            <label lang="de">Tage</label>
            <value>14</value>
            <description lang="de">Nach wie vielen Tagen sollen Mails versendet werden.</description>
        </element>

        <element type="boolean">
            <name>active</name>
            <label lang="de">Aktiv?</label>
        </element>


    </elements>

</config>